Repository ajnacloud-ksj/ajna-superset, pull requests merged in 2024-12, with the labels that each got.

#3 Redirection functionality - PR 1
  custom-plugins/superset-plugin-chart-smoothed-line-chart/.gitignore
  custom-plugins/superset-plugin-chart-smoothed-line-chart/README.md
  custom-plugins/superset-plugin-chart-smoothed-line-chart/babel.config.js
  custom-plugins/superset-plugin-chart-smoothed-line-chart/jest.config.js
  custom-plugins/superset-plugin-chart-smoothed-line-chart/package-lock.json
  custom-plugins/superset-plugin-chart-smoothed-line-chart/package.json
  custom-plugins/superset-plugin-chart-smoothed-line-chart/src/SupersetPluginChartSmoothedLineChart.tsx
  custom-plugins/superset-plugin-chart-smoothed-line-chart/src/images/thumbnail.png
  custom-plugins/superset-plugin-chart-smoothed-line-chart/src/index.ts
  custom-plugins/superset-plugin-chart-smoothed-line-chart/src/plugin/buildQuery.ts
  custom-plugins/superset-plugin-chart-smoothed-line-chart/src/plugin/controlPanel.ts
  custom-plugins/superset-plugin-chart-smoothed-line-chart/src/plugin/index.ts
  custom-plugins/superset-plugin-chart-smoothed-line-chart/src/plugin/transformProps.ts
  custom-plugins/superset-plugin-chart-smoothed-line-chart/src/types.ts
  custom-plugins/superset-plugin-chart-smoothed-line-chart/test/__mocks__/mockExportString.js
  custom-plugins/superset-plugin-chart-smoothed-line-chart/test/index.test.ts
  custom-plugins/superset-plugin-chart-smoothed-line-chart/test/plugin/buildQuery.test.ts
  custom-plugins/superset-plugin-chart-smoothed-line-chart/test/plugin/transformProps.test.ts
  custom-plugins/superset-plugin-chart-smoothed-line-chart/tsconfig.json
  custom-plugins/superset-plugin-chart-smoothed-line-chart/types/external.d.ts
  package-lock.json
  package.json
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/src/assets/images/icons/redirectIcon.png
  superset-frontend/src/components/PageHeaderWithActions/SetURL.jsx
  superset-frontend/src/contexts/URLContext.jsx
  superset-frontend/src/dashboard/components/SliceHeader/ShowURL.jsx
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/explore/components/ExploreChartPanel/index.jsx
  superset-frontend/src/explore/components/RedirectUriRow/RedirectUriRow.jsx
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/src/views/App.tsx
  superset-frontend/src/visualizations/presets/MainPreset.js
  superset-frontend/tsconfig.json
Labels: dependencies:npm

#4 Redirection functionality - PR 2
  superset-frontend/packages/superset-ui-core/src/utils/tooltip.ts
  superset-frontend/src/components/DynamicEditableTitle/index.tsx
  superset-frontend/src/components/PageHeaderWithActions/SetURL.jsx
  superset-frontend/src/contexts/URLContext.jsx
  superset-frontend/src/dashboard/components/SliceHeader/ShowURL.jsx
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/explore/components/ExploreChartPanel/index.jsx
  superset-frontend/src/explore/components/RedirectUriRow/RedirectUriRow.jsx
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/src/features/charts/ChartCard.tsx
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/views/App.tsx
Labels: packages

#6 Main amararaja
  buildspec.yml
  custom-plugins/superset-plugin-chart-smoothed-line-chart/.gitignore
  custom-plugins/superset-plugin-chart-smoothed-line-chart/README.md
  custom-plugins/superset-plugin-chart-smoothed-line-chart/babel.config.js
  custom-plugins/superset-plugin-chart-smoothed-line-chart/jest.config.js
  custom-plugins/superset-plugin-chart-smoothed-line-chart/package-lock.json
  custom-plugins/superset-plugin-chart-smoothed-line-chart/package.json
  custom-plugins/superset-plugin-chart-smoothed-line-chart/src/SupersetPluginChartSmoothedLineChart.tsx
  custom-plugins/superset-plugin-chart-smoothed-line-chart/src/images/thumbnail.png
  custom-plugins/superset-plugin-chart-smoothed-line-chart/src/index.ts
  custom-plugins/superset-plugin-chart-smoothed-line-chart/src/plugin/buildQuery.ts
  custom-plugins/superset-plugin-chart-smoothed-line-chart/src/plugin/controlPanel.ts
  custom-plugins/superset-plugin-chart-smoothed-line-chart/src/plugin/index.ts
  custom-plugins/superset-plugin-chart-smoothed-line-chart/src/plugin/transformProps.ts
  custom-plugins/superset-plugin-chart-smoothed-line-chart/src/types.ts
  custom-plugins/superset-plugin-chart-smoothed-line-chart/test/__mocks__/mockExportString.js
  custom-plugins/superset-plugin-chart-smoothed-line-chart/test/index.test.ts
  custom-plugins/superset-plugin-chart-smoothed-line-chart/test/plugin/buildQuery.test.ts
  custom-plugins/superset-plugin-chart-smoothed-line-chart/test/plugin/transformProps.test.ts
  custom-plugins/superset-plugin-chart-smoothed-line-chart/tsconfig.json
  custom-plugins/superset-plugin-chart-smoothed-line-chart/types/external.d.ts
  package-lock.json
  package.json
  superset-frontend/package-lock.json
  superset-frontend/package.json
  superset-frontend/packages/superset-ui-core/src/utils/tooltip.ts
  superset-frontend/src/assets/images/icons/redirectIcon.png
  superset-frontend/src/components/DynamicEditableTitle/index.tsx
  superset-frontend/src/dashboard/components/SliceHeader/index.tsx
  superset-frontend/src/explore/components/ExploreChartPanel/index.jsx
  superset-frontend/src/explore/components/SaveModal.tsx
  superset-frontend/src/features/charts/ChartCard.tsx
  superset-frontend/src/pages/ChartList/index.tsx
  superset-frontend/src/visualizations/presets/MainPreset.js
  superset-frontend/tsconfig.json
Labels: dependencies:npm, packages
